:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
  
    /* size */
    --base-space: 8px;
    --size-button: 60px;
    --size-border: 4px;
    --size-thumbnail: 50px;
    --font-size: 18px;
    --button-font-size: 18px;
    --size-border: 4px;
  
    /* annimation */
    --animation-duration: 300ms;
  }

  body {
      height: 100vh;
      background-color: #3f454d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  li {
      list-style: none;
  }

  .logo {
      width: 120px;
      margin-bottom: var(--base-space);
      cursor: pointer;
      transition: var(--animation-duration);
  }

  .buttons {
      display: flex;
      align-items: center;
  }

  .btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    margin-right: var(--base-space);
    transition: var(--animation-duration);
  }

  .logo:hover,
  .btn:hover {
      transform: scale(1.1);
  }

  .imgBtn {
      width: var(--size-button);
      height: var(--size-button);
  }
  
  .colorBtn {
      font-size: var(--button-font-size);
      padding: calc(var(--base-space) * 2);
      border-radius: var(--size-border);
  }
  
  .blue {
    background-color: var(--color-blue);
  }

  .yellow {
    background-color: var(--color-yellow);
  }

  .pink {
    background-color: var(--color-pink);
  }

  .items {
      width: 60%;
      height: 60%;
      padding-left: 0;
      overflow-y: scroll;
  }

  .item {
      display: flex;
      align-items: center;
    background-color: white;
    padding: var(--base-space);
    margin-bottom: var(--base-space);
    visibility: visible;
  }

  .item .invisible {
    visibility: hidden; 
   }

  

.item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
}

.item__description {
    margin-left: var(--base-space);
}